@model PatStore.Models.Producto
@{
    ViewBag.Title = "Details";
}

<h2 style="color: white">Detalles</h2>

<div>
    <h4 style="color: white">Producto</h4>
    <hr />
    <dl class="dl-horizontal" style="color: white">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            Imagen: 
        </dt>

        <dd>
           <img width="90" height="90" src=@Html.DisplayFor(model => model.Foto)
        </dd>

    </dl>
</div>
<p>
    <ul class="fa-solid fa-turn-down-left">@Html.ActionLink("Edit", "Edit", new { id = Model.idProducto }) </ul> <br />
    <ul class="fa-solid fa-turn-down-left"> @Html.ActionLink("Back to List", "Index")</ul>
</p>
