@model IEnumerable<PatStore.Models.Producto>

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="~/Content/Textos.css" />
<br />

<td>
    <button class="btn btn-success" >@Html.ActionLink("Añadir producto (+)", "Create")</button> <br />

</td>

<br />



@using (@Html.BeginForm())
{

    @Html.TextBox("searchTerm", null, new { id = "texSearch" })
    <input type="submit" value="Search" />
    <br />
    <br />

}

<table class="table">
    <tr>
        <th style="color: red">
            <h>ID</h>
        </th>
        <th style="color: red ">
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th style="color: red ">
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th style="color: red ">
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th style="color: red ">
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th style="color: red">
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th style="color: red">
            @Html.DisplayNameFor(model => model.Foto)
        </th>

        <th style="color: red">
            Acciones
        </th>
    </tr>

    @foreach (var item in Model)
    {

        <tr class="table-bordered">
            <td style="color:white">
                @Html.DisplayFor(modelItem => item.idProducto)
            </td>
            <td style="color:white">
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td style="color:white">
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td style="color:white">
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td style="color:white">
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td style="color:white">
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td style="color:white">
                <img width="100" height="100" src=@Html.DisplayFor(modelItem => item.Foto)
            </td>
            <td style="color:blueviolet">
                @Html.ActionLink("Editar", "Edit", new { id = item.idProducto })<br />
                @Html.ActionLink("Detalles", "Details", new { id = item.idProducto })
                <B><FONT COLOR="red">@Html.ActionLink("Eliminar", "Delete", new { id = item.idProducto }) </FONT>
            </td>
        </tr>
    }

</table>


