@model IEnumerable<Coffe_Gourment.Models.Producto>

@{
    ViewBag.Title = "Index";
}



<td>
    <button class="btn btn-success">@Html.ActionLink("Añadir producto (+)", "Create")</button> <br />

</td>

<br />
    


@using (@Html.BeginForm())
 {
                
    @Html.TextBox("searchTerm", null, new { id = "texSearch"})
    <input type="submit" value="Search" />

 }
<table class="table">
    <tr >
        <th>
            <h>ID</h>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th align="right">
               @Html.DisplayNameFor(model => model.Foto)
        </th>

        <th class="">
            Acciones
        </th>
    </tr>

    @foreach (var item in Model)
    {

        <tr class="table-bordered">
            <td >
                @Html.DisplayFor(modelItem => item.idProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td > 
                <img width="150" height="100" src=@Html.DisplayFor(modelItem => item.Foto)
            </td>
            <td style="color:blueviolet">
                @Html.ActionLink("Editar", "Edit", new { id = item.idProducto })<br />
                @Html.ActionLink("Detalles", "Details", new { id = item.idProducto })           
                <B><FONT COLOR="red">@Html.ActionLink("Eliminar", "Delete", new { id = item.idProducto }) </FONT>
            </td>
        </tr>
    }

</table>


